<header class="site-header">
  <div class="container site-header__inner">
    <a class="wordmark" href="{{ config.base_url | safe }}">
      {%- if config.extra.favicon %}
      <img class="wordmark__icon" src="{{ config.extra.favicon | safe }}" alt="" width="20" height="20">
      {%- endif %}
      <span class="wordmark__text">{{ config.extra.wordmark | default(value=config.title) }}</span>
    </a>
    {%- if config.extra.menu %}
    <nav class="site-nav" aria-label="Primary">
      <ul>
      {%- for item in config.extra.menu %}
        {%- set href = item.url -%}
        {%- if href is starting_with('/') %}{% set href = config.base_url ~ href %}{% endif -%}
        {%- set is_external = item.external | default(value=false) -%}
        <li><a href="{{ href | safe }}"{% if is_external %} target="_blank" rel="noopener"{% endif %}>{{ item.name }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
    {%- endif %}
  </div>
</header>
