<header class="site-header">
  <div class="container site-header__inner">
    <a class="wordmark" href="{{ config.base_url | safe }}">
      <img class="wordmark__icon" src="{{ config.extra.favicon | safe }}" alt="" width="20" height="20">
      {{ config.extra.wordmark }}
    </a>
    <nav class="site-nav" aria-label="Primary">
      <ul>
      {%- for item in config.extra.menu %}
        {%- if item.url_extra %}{% set href = config.extra[item.url_extra] %}{% else %}{% set href = item.url %}{% endif -%}
        {%- if href is starting_with('/') %}{% set href = config.base_url ~ href %}{% endif -%}
        {%- set is_external = item.external | default(value=false) -%}
        <li><a href="{{ href | safe }}"{% if is_external %} target="_blank" rel="noopener"{% endif %}>{{ item.name }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
  </div>
</header>
